In [1]:
import pandas as pd
import matplotlib.pyplot as plt

outcome_df = pd.read_csv('data/new_new_outcome.txt')

outcome_df['college_bt'].unique()

# convert terms that end in 25 or 40 to end with 30
def convert_terms(major_history):
    terms = major_history.split('|')
    converted_terms = []
    for term in terms:
        if '25' in term or '40' in term:
            converted_terms.append(term.replace('25', '30').replace('40', '30'))
        else:
            converted_terms.append(term)
    return '|'.join(converted_terms)

# Update the major_history column
outcome_df['major_history'] = outcome_df['major_history'].apply(convert_terms)

In [2]:
print("NaN Values Here")
#errors because so many NaN values (ask about this)
nan_rows = outcome_df[outcome_df['student_type_code'].isna()]
print(nan_rows.shape[0])  # Number of rows where 'student_type_code' is NaN
print(nan_rows)

nan_rows.groupby('term').count()

NaN Values Here
31875
       encrypt_id    term  transfer_hours_bt  total_sfa_hours_bt  \
1        30130517  202220               85.0                36.0
2        30130517  202210               85.0                24.0
3        30130199  202510               11.0               114.0
8        30130199  202220                8.0                44.0
9        30130199  202210                0.0                29.0
...           ...     ...                ...                 ...
73973        2882  202210               24.0                86.0
73974        2154  202510                0.0                92.0
73980        2154  202230                0.0                43.0
73981        2154  202220                0.0                27.0
73982        2154  202210                0.0                18.0

       total_sfa_hours_et  begin_of_semester_gpa  semester_gpa  \
1                    48.0                   4.00          4.00
2                    36.0                   4.00          4.00
3                   114.0                   2.40           NaN
8                    56.0                   3.02          2.25
9                    44.0                   2.83          3.40
...                   ...                    ...           ...
73973               101.0                   3.34          3.80
73974                92.0                   2.52           NaN
73980                51.0                   2.44          3.50
73981                43.0                   2.22          2.81
73982                27.0                   2.00          2.67

       end_of_term_gpa college_bt department_bt  ...  \
1                 4.00         ED          EDST  ...
2                 4.00         ED          EDST  ...
3                 2.40         ED          KINE  ...
8                 2.86         LA          LANG  ...
9                 3.02         LA          LANG  ...
...                ...        ...           ...  ...
73973             3.41         FR          EVSC  ...
73974             2.52         SM          NURS  ...
73980             2.61         SM          NURS  ...
73981             2.44         SM          NURS  ...
73982             2.22         LA          ADMS  ...

                                   major_history grad_term  \
1                    UNDD (201910)|DINS (202030)       NaN
2                    UNDD (201910)|DINS (202030)       NaN
3      UNDD (202030)|COMS (202110)|KINE (202220)  202510.0
8      UNDD (202030)|COMS (202110)|KINE (202220)       NaN
9                    UNDD (202030)|COMS (202110)       NaN
...                                          ...       ...
73973                FORS (201910)|EVSC (201920)  202210.0
73974  CONC (202010)|NURS (202210)|RNUR (202430)       NaN
73980                CONC (202010)|NURS (202210)       NaN
73981                CONC (202010)|NURS (202210)       NaN
73982                CONC (202010)|NURS (202210)       NaN

                      grad_program   advisor_name  \
1                              NaN            NaN
2                              NaN            NaN
3                BS in Kinesiology   Audra Bachus
8                              NaN   Audra Bachus
9                              NaN   Audra Bachus
...                            ...            ...
73973  BS in Environmental Science            NaN
73974                          NaN  Horace Strong
73980                          NaN   Shelley Hunt
73981                          NaN   Shelley Hunt
73982                          NaN   Shelley Hunt

      total_course_hours_attempted withdrew academic_standing  \
1                               12        0     Good Standing
2                               12        0     Good Standing
3                                6        0     Good Standing
8                               15        0     Good Standing
9                               15        0     Good Standing
...                            ...      ...               ...
73973                           15        0     Good Standing
73974                           13        0     Good Standing
73980                            8        0     Good Standing
73981                           16        0     Good Standing
73982                           12        0     Good Standing

      student_type_code probation  discontinued
1                   NaN         0             0
2                   NaN         0             0
3                   NaN         1             0
8                   NaN         0             0
9                   NaN         0             0
...                 ...       ...           ...
73973               NaN         0             0
73974               NaN         1             1
73980               NaN         0             0
73981               NaN         0             0
73982               NaN         0             0

[31875 rows x 28 columns]

,encrypt_id,transfer_hours_bt,total_sfa_hours_bt,total_sfa_hours_et,begin_of_semester_gpa,semester_gpa,end_of_term_gpa,college_bt,department_bt,major_bt,...,major_history,grad_term,grad_program,advisor_name,total_course_hours_attempted,withdrew,academic_standing,student_type_code,probation,discontinued
term,,,,,,,,,,,,,,,,,,,,,
202210,10216,10216,10216,10216,7443,10208,10182,10216,10216,10216,...,10216,869,869,2696,10216,10216,10208,0,10216,10216
202220,8971,8971,8971,8971,8534,8963,8956,8971,8971,8971,...,8971,1172,1172,2726,8971,8971,8963,0,8971,8971
202230,3359,3359,3359,3359,3112,3355,3357,3359,3359,3359,...,3359,228,228,1047,3359,3359,3355,0,3359,3359
202310,2,2,2,2,1,2,2,2,2,2,...,2,0,0,2,2,2,2,0,2,2
202320,2,2,2,2,1,2,2,2,2,2,...,2,0,0,2,2,2,2,0,2,2
202410,1,1,1,1,1,1,1,1,1,1,...,1,0,0,1,1,1,1,0,1,1
202420,1,1,1,1,1,1,1,1,1,1,...,1,0,0,1,1,1,1,0,1,1
202510,9323,9323,9323,9323,6326,29,6326,6551,6551,6551,...,9323,742,742,9302,9323,9323,6255,0,9323,9323

In [3]:
# make new column with apply lam - gives classification by credit hours (or binning)
outcome_df['total_hours'] = outcome_df['transfer_hours_bt'] + outcome_df['total_sfa_hours_bt']
#print(outcome_df['total_hours'])

#function that classfies students based on the number of credit hours
def classify_student(total_hours):
    if total_hours < 30:
        return 'Freshman'
    elif 30 <= total_hours < 60:
        return 'Sophomore'
    elif 60 <= total_hours < 90:
        return 'Junior'
    else:
        return 'Senior'

#for every student id apply the classification function
outcome_df['Classification'] = outcome_df['total_hours'].apply(classify_student)
#print(outcome_df['Classification'])



# Define a function to classify GPA based on end_of_term_gpa
def classify_gpa(gpa):
    if gpa < 2.0:
        return '2.0 or less'
    elif 2.0 <= gpa < 3.0:
        return '2.0-3.0'
    elif 3.0 <= gpa < 3.5:
        return '3.0-3.5'
    elif 3.5 <= gpa <= 4.0:
        return '3.5-4.0'
    else:
        return 'Invalid GPA'  # For values outside the 0-4.0 range

# Apply the function to create the GPA_Group column
outcome_df['GPA_Group'] = outcome_df['end_of_term_gpa'].apply(classify_gpa)

# Find rows with 'Invalid GPA' in the GPA_Group column
invalid_gpa_rows = outcome_df[outcome_df['GPA_Group'] == 'Invalid GPA']
print("Rows with Invalid GPA values:")
print(invalid_gpa_rows[['encrypt_id', 'end_of_term_gpa']])

# Drop rows with 'Invalid GPA'
outcome_df = outcome_df[outcome_df['GPA_Group'] != 'Invalid GPA']

Rows with Invalid GPA values:
       encrypt_id  end_of_term_gpa
36       30112192              NaN
56       30101509              NaN
63       30097971              NaN
74       30086018              NaN
137      30071479              NaN
...           ...              ...
73877       39750              NaN
73943       12727              NaN
73951       11444              NaN
73963        6068              NaN
73964        4405              NaN

[3294 rows x 2 columns]

In [4]:
import numpy as np

# Ensure 'term' is a string
outcome_df['term'] = outcome_df['term'].astype(str)

# Filter out rows where 'term' is either '202420' or '202510'
outcome_df = outcome_df[(outcome_df['term'] != '202510')]

# Calculate discontinued rate for all students using function given
disc = outcome_df.groupby(['college_et', 'term']).agg({'encrypt_id': 'count', 'discontinued': 'sum'})
disc['all_disc_rate'] = (disc['discontinued'] / disc['encrypt_id'] * 100).round(2)  # Round to 2 decimal places

#print dataframe with disc rate for all students
print("The discontinued rate for any college regardless of college switches.")
print(disc)

# Set the change column based on college_bt and college_et (considering only those who switched colleges)
outcome_df['change'] = np.where(
    outcome_df['college_bt'].isna() | outcome_df['college_et'].isna(), 0,  # No change if either is NaN
    np.where(outcome_df['college_bt'] != outcome_df['college_et'], 1, 0)  # Compare normally otherwise
)

# Print rows where 'change' is equal to 1 (students who switched colleges)
changed_rows = outcome_df[outcome_df['change'] == 1]
print(changed_rows[['encrypt_id', 'college_bt', 'college_et', 'change']])

# Discontinued rate for only those who switched colleges
print("The discontinued rate of only those who switched colleges.")
changed_students_df = outcome_df[outcome_df['change'] == 1]

# Calculate discontinued rate for students who switched colleges
changed_students_df = changed_students_df.groupby(['college_et', 'term']).agg({'encrypt_id': 'count', 'discontinued': 'sum'})
changed_students_df['change_disc_rate'] = (changed_students_df['discontinued'] / changed_students_df['encrypt_id'] * 100).round(2)
print(changed_students_df)

print("Both the data for ALL Students within a college and ONLY those who switched colleges.")
# Merge the two DataFrames on 'college_et' and 'term'
merged_disc = pd.merge(disc, changed_students_df, on=['college_et', 'term'], how='left')
merged_disc = merged_disc[['all_disc_rate', 'change_disc_rate']]
print(merged_disc)

The discontinued rate for any college regardless of college switches.
                   encrypt_id  discontinued  all_disc_rate
college_et term
BU         202210        1607           165          10.27
           202220        1399           161          11.51
           202230         619            57           9.21
           202310        1466           141           9.62
           202320        1287           142          11.03
           202330         569            47           8.26
           202410        1401           126           8.99
           202420        1260           151          11.98
           202430         521            32           6.14
ED         202210        2594           192           7.40
           202220        2327           207           8.90
           202230        1033            44           4.26
           202310        2430           181           7.45
           202320        2173           194           8.93
           202330         945            52           5.50
           202410        2335           153           6.55
           202420        2094           182           8.69
           202430         835            22           2.63
FA         202210         814            59           7.25
           202220         726            61           8.40
           202230         192            13           6.77
           202310         828            49           5.92
           202320         726            51           7.02
           202330         183             4           2.19
           202410         819            47           5.74
           202420         743            58           7.81
           202430         206             9           4.37
FR         202210         753            74           9.83
           202220         629            58           9.22
           202230         297            13           4.38
           202310         743            58           7.81
           202320         648            71          10.96
           202330         250            19           7.60
           202410         715            71           9.93
           202420         586            52           8.87
           202430         205            12           5.85
LA         202210        2621           301          11.48
           202220        2385           542          22.73
           202230         662            44           6.65
           202310        2602           288          11.07
           202320        2333           617          26.45
           202330         565            34           6.02
           202410        2335           285          12.21
           202420        2040           643          31.52
           202430         436            37           8.49
SM         202210        1793           173           9.65
           202220        1490           176          11.81
           202230         554            58          10.47
           202310        1640           152           9.27
           202320        1438           157          10.92
           202330         491            44           8.96
           202410        1835           155           8.45
           202420        1643           204          12.42
           202430         544            33           6.07
       encrypt_id college_bt college_et  change
8        30130199         LA         ED       1
13       30127807         LA         SM       1
18       30126638         FA         SM       1
69       30088106         SM         ED       1
88       30080420         LA         ED       1
...           ...        ...        ...     ...
73925       15767         LA         FA       1
73933       14882         LA         SM       1
73961       10070         BU         ED       1
73967        3952         LA         ED       1
73982        2154         LA         SM       1

[2795 rows x 4 columns]
The discontinued rate of only those who switched colleges.
                   encrypt_id  discontinued  change_disc_rate
college_et term
BU         202210          63             4              6.35
           202220          60            10             16.67
           202230          24             5             20.83
           202310          97            18             18.56
           202320          56             8             14.29
           202330          17             1              5.88
           202410         100            18             18.00
           202420          86            27             31.40
           202430          22             3             13.64
ED         202210          77             8             10.39
           202220         138            22             15.94
           202230          53             2              3.77
           202310         153            12              7.84
           202320         129            17             13.18
           202330          44             4              9.09
           202410         149             8              5.37
           202420         122            13             10.66
           202430          24             2              8.33
FA         202210          17             1              5.88
           202220          23             3             13.04
           202230           3             1             33.33
           202310          46             2              4.35
           202320          49             7             14.29
           202330           1             0              0.00
           202410          15             0              0.00
           202420          23             5             21.74
           202430           3             1             33.33
FR         202210          22             3             13.64
           202220          19             4             21.05
           202230           9             1             11.11
           202310          33             4             12.12
           202320          19             3             15.79
           202330           6             2             33.33
           202410          31             3              9.68
           202420          15             3             20.00
           202430           9             3             33.33
LA         202210          54             8             14.81
           202220         101            21             20.79
           202230          40             2              5.00
           202310          86             6              6.98
           202320          85            15             17.65
           202330          33             4             12.12
           202410          94            14             14.89
           202420         111            26             23.42
           202430          26             3             11.54
SM         202210          35             7             20.00
           202220          34             7             20.59
           202230          24             8             33.33
           202310          68             8             11.76
           202320          43             6             13.95
           202330          23             6             26.09
           202410          94            12             12.77
           202420          64            16             25.00
           202430          23             5             21.74
Both the data for ALL Students within a college and ONLY those who switched colleges.
                   all_disc_rate  change_disc_rate
college_et term
BU         202210          10.27              6.35
           202220          11.51             16.67
           202230           9.21             20.83
           202310           9.62             18.56
           202320          11.03             14.29
           202330           8.26              5.88
           202410           8.99             18.00
           202420          11.98             31.40
           202430           6.14             13.64
ED         202210           7.40             10.39
           202220           8.90             15.94
           202230           4.26              3.77
           202310           7.45              7.84
           202320           8.93             13.18
           202330           5.50              9.09
           202410           6.55              5.37
           202420           8.69             10.66
           202430           2.63              8.33
FA         202210           7.25              5.88
           202220           8.40             13.04
           202230           6.77             33.33
           202310           5.92              4.35
           202320           7.02             14.29
           202330           2.19              0.00
           202410           5.74              0.00
           202420           7.81             21.74
           202430           4.37             33.33
FR         202210           9.83             13.64
           202220           9.22             21.05
           202230           4.38             11.11
           202310           7.81             12.12
           202320          10.96             15.79
           202330           7.60             33.33
           202410           9.93              9.68
           202420           8.87             20.00
           202430           5.85             33.33
LA         202210          11.48             14.81
           202220          22.73             20.79
           202230           6.65              5.00
           202310          11.07              6.98
           202320          26.45             17.65
           202330           6.02             12.12
           202410          12.21             14.89
           202420          31.52             23.42
           202430           8.49             11.54
SM         202210           9.65             20.00
           202220          11.81             20.59
           202230          10.47             33.33
           202310           9.27             11.76
           202320          10.92             13.95
           202330           8.96             26.09
           202410           8.45             12.77
           202420          12.42             25.00
           202430           6.07             21.74

In [5]:
import numpy as np
import pandas as pd

# Create the total hours column
outcome_df['total_hours'] = outcome_df['transfer_hours_bt'] + outcome_df['total_sfa_hours_bt']

# Function that classifies students based on the number of credit hours
def classify_student(total_hours):
    if total_hours < 30:
        return 'Freshman'
    elif 30 <= total_hours < 60:
        return 'Sophomore'
    elif 60 <= total_hours < 90:
        return 'Junior'
    else:
        return 'Senior'

# Apply the classification function
outcome_df['Classification'] = outcome_df['total_hours'].apply(classify_student)

# Ensure 'term' is a string
outcome_df['term'] = outcome_df['term'].astype(str)

# Filter out rows where 'term' is either '202420' or '202510'
outcome_df = outcome_df[(outcome_df['term'] != '202510')]

# Calculate discontinued rate for all students
disc = outcome_df.groupby(['college_et', 'term']).agg({'encrypt_id': 'count', 'discontinued': 'sum'})
disc['all_disc_rate'] = (disc['discontinued'] / disc['encrypt_id'] * 100).round(2)

# Set the change column to indicate college switch status
outcome_df['change'] = np.where(
    outcome_df['college_bt'].isna() | outcome_df['college_et'].isna(), 0,  # No change if either is NaN
    np.where(outcome_df['college_bt'] != outcome_df['college_et'], 1, 0)  # Compare otherwise
)

# Filter rows for students who switched colleges
changed_rows = outcome_df[outcome_df['change'] == 1]

# Calculate discontinued rate for students who switched colleges
changed_students_df = changed_rows.groupby(['college_et', 'term']).agg({'encrypt_id': 'count', 'discontinued': 'sum'})
changed_students_df['change_disc_rate'] = (changed_students_df['discontinued'] / changed_students_df['encrypt_id'] * 100).round(2)

# Merge the discontinued rate data for all students and only those who switched colleges
merged_disc = pd.merge(disc, changed_students_df, on=['college_et', 'term'], how='left')

# Select only the relevant discontinued rate columns for display
merged_disc = merged_disc[['all_disc_rate', 'change_disc_rate']]
print("Discontinued rates for all students and only those who switched colleges:")
print(merged_disc)

Discontinued rates for all students and only those who switched colleges:
                   all_disc_rate  change_disc_rate
college_et term
BU         202210          10.27              6.35
           202220          11.51             16.67
           202230           9.21             20.83
           202310           9.62             18.56
           202320          11.03             14.29
           202330           8.26              5.88
           202410           8.99             18.00
           202420          11.98             31.40
           202430           6.14             13.64
ED         202210           7.40             10.39
           202220           8.90             15.94
           202230           4.26              3.77
           202310           7.45              7.84
           202320           8.93             13.18
           202330           5.50              9.09
           202410           6.55              5.37
           202420           8.69             10.66
           202430           2.63              8.33
FA         202210           7.25              5.88
           202220           8.40             13.04
           202230           6.77             33.33
           202310           5.92              4.35
           202320           7.02             14.29
           202330           2.19              0.00
           202410           5.74              0.00
           202420           7.81             21.74
           202430           4.37             33.33
FR         202210           9.83             13.64
           202220           9.22             21.05
           202230           4.38             11.11
           202310           7.81             12.12
           202320          10.96             15.79
           202330           7.60             33.33
           202410           9.93              9.68
           202420           8.87             20.00
           202430           5.85             33.33
LA         202210          11.48             14.81
           202220          22.73             20.79
           202230           6.65              5.00
           202310          11.07              6.98
           202320          26.45             17.65
           202330           6.02             12.12
           202410          12.21             14.89
           202420          31.52             23.42
           202430           8.49             11.54
SM         202210           9.65             20.00
           202220          11.81             20.59
           202230          10.47             33.33
           202310           9.27             11.76
           202320          10.92             13.95
           202330           8.96             26.09
           202410           8.45             12.77
           202420          12.42             25.00
           202430           6.07             21.74

In [6]:
# Ensure 'term' is a string
outcome_df['term'] = outcome_df['term'].astype(str)

# Filter out rows where 'term' is '202510'
outcome_df = outcome_df[(outcome_df['term'] != '202510')]

# Calculate discontinued rate for all students by classification
disc_by_classification = outcome_df.groupby(['Classification', 'term']).agg({'encrypt_id': 'count', 'discontinued': 'sum'})
disc_by_classification['disc_rate'] = (disc_by_classification['discontinued'] / disc_by_classification['encrypt_id'] * 100).round(2)
print(disc_by_classification['encrypt_id'])

# Create a pivot table for discontinued rate by classification and term
disc_pivot = disc_by_classification.pivot_table(values='disc_rate', index='term', columns='Classification')
print("Discontinued rates by classification and term:")
print(disc_pivot)

Classification  term
Freshman        202210    2780
                202220    1905
                202230     384
                202310    2956
                202320    2114
                202330     385
                202410    3049
                202420    2109
                202430     296
Junior          202210    2494
                202220    2344
                202230     978
                202310    2248
                202320    2134
                202330     881
                202410    2134
                202420    2017
                202430     739
Senior          202210    3020
                202220    2952
                202230    1464
                202310    2846
                202320    2786
                202330    1303
                202410    2619
                202420    2574
                202430    1234
Sophomore       202210    1888
                202220    1755
                202230     531
                202310    1659
                202320    1571
                202330     434
                202410    1638
                202420    1666
                202430     478
Name: encrypt_id, dtype: int64
Discontinued rates by classification and term:
Classification  Freshman  Junior  Senior  Sophomore
term
202210             14.71    8.02    5.53       9.96
202220             32.13    7.68    5.45      14.36
202230             20.83    5.21    3.62       8.47
202310             13.77    6.81    5.09       9.89
202320             33.21    7.73    5.74      13.05
202330             22.08    4.77    3.53       6.22
202410             12.53    7.64    5.54       8.97
202420             37.74    6.79    5.56      12.85
202430             14.19    3.65    4.21       5.02

In [7]:
print("These represent the discontinued rate given GPA groups in general by term.")


# Ensure 'term' is a string
outcome_df['term'] = outcome_df['term'].astype(str)

# Filter out rows where 'term' is '202510'
outcome_df = outcome_df[(outcome_df['term'] != '202510')]

# Calculate discontinued rate for all students by classification
disc_by_classification = outcome_df.groupby(['GPA_Group', 'term']).agg({'encrypt_id': 'count', 'discontinued': 'sum'})
disc_by_classification['disc_rate'] = (disc_by_classification['discontinued'] / disc_by_classification['encrypt_id'] * 100).round(2)
print(disc_by_classification['encrypt_id'])

# Create a pivot table for discontinued rate by classification and term
disc_pivot = disc_by_classification.pivot_table(values='disc_rate', index='term', columns='GPA_Group')
print("Discontinued rates by GPA Group and term:")
print(disc_pivot)

These represent the discontinued rate given GPA groups in general by term.
GPA_Group    term
2.0 or less  202210     802
             202220     599
             202230     196
             202310     722
             202320     539
             202330     174
             202410     879
             202420     767
             202430     273
2.0-3.0      202210    3595
             202220    3275
             202230    1373
             202310    3396
             202320    3179
             202330    1253
             202410    3335
             202420    3025
             202430    1123
3.0-3.5      202210    2804
             202220    2473
             202230     915
             202310    2664
             202320    2329
             202330     839
             202410    2482
             202420    2203
             202430     708
3.5-4.0      202210    2981
             202220    2609
             202230     873
             202310    2927
             202320    2558
             202330     737
             202410    2744
             202420    2371
             202430     643
Name: encrypt_id, dtype: int64
Discontinued rates by GPA Group and term:
GPA_Group  2.0 or less  2.0-3.0  3.0-3.5  3.5-4.0
term
202210           47.38     8.96     5.03     4.06
202220           57.76    11.21     7.93    11.35
202230           40.82     4.59     4.37     5.27
202310           50.28     7.80     4.69     3.96
202320           58.07    12.49     8.72    12.47
202330           38.51     5.27     4.29     4.21
202410           39.36     8.37     4.59     3.57
202420           48.63    12.76     8.90    14.13
202430           18.68     4.45     2.68     3.89

In [8]:
#print("This represents discontinued rate for each college and GPA group for Fall, Spring, and Summer terms.")

# Step 1: Classify terms into Fall, Spring, and Summer
def classify_semester(term):
    if str(term).endswith('10'):
        return 'Fall'
    elif str(term).endswith('20'):
        return 'Spring'
    elif str(term).endswith('30'):
        return 'Summer'

#Add a new column for semester type
outcome_df['Semester'] = outcome_df['term'].apply(classify_semester)

#Group by GPA_Group and term, calculate count of encrypt_id and sum of discontinued
disc_by_gpa = outcome_df.groupby(['GPA_Group', 'term', 'college_et', 'Semester']).agg({'encrypt_id': 'count', 'discontinued': 'sum'})

#Calculate discontinued rate
disc_by_gpa['disc_rate'] = (disc_by_gpa['discontinued'] / disc_by_gpa['encrypt_id'] * 100).round(2)

#Reset index to make the DataFrame easy to read
disc_by_gpa = disc_by_gpa.reset_index()

#disc_pivot = disc_by_gpa.pivot_table(values='disc_rate', index='college_et', columns='GPA_Group')
#print("Discontinued rates by GPA Group and term:")
#disc_pivot
#disc_pivot3 = disc_by_gpa.pivot_table(values='disc_rate', index='GPA_Group', columns='Semester')
#print("Discontinued rates by GPA Group and Semester:")
#disc_pivot3

In [9]:
disc_pivot = disc_by_gpa.pivot_table(values='disc_rate', index=['Semester','college_et'], columns='GPA_Group').astype('int')
print("Discontinued rates by College and Semester not regarding high school/college groups:")
disc_pivot

Discontinued rates by College and Semester not regarding high school/college groups:

GPA_Group            2.0 or less  2.0-3.0  3.0-3.5  3.5-4.0
Semester college_et
Fall     BU                   39        7        4        5
         ED                   47        8        4        2
         FA                   44       10        2        1
         FR                   43        6        3        2
         LA                   51        9        6        6
         SM                   43        8        4        2
Spring   BU                   52        8        5        6
         ED                   55        9        4        4
         FA                   58       10        5        3
         FR                   49        6        3        2
         LA                   54       19       20       33
         SM                   60       12        4        4
Summer   BU                   32        4        7        9
         ED                   33        4        1        1
         FA                   40        4        3        3
         FR                   29        3        3        4
         LA                   33        4        2        3
         SM                   30        6        5        9

In [10]:
#

# Assuming outcome_df is your DataFrame
type_counts = outcome_df['student_type_code'].value_counts()
print(type_counts)


#eliminate B and C

F    24267
T    12113
B     2551
R     2007
C      777
S       82
G       64
P        1
A        1
H        1
Name: student_type_code, dtype: int64

In [11]:
print('Discontinued Rates for All Students except UG-Dual Credit Continuing - HS, Early College Student, UG-Transient.')
# Check if any values in 'student_type_code' are in the list ['C', 'E', 'S'] and drop those rows
only_college_df = outcome_df.query("student_type_code not in ['C', 'S', 'E']")
only_college_df = only_college_df.dropna()
only_college_df = only_college_df.reset_index()

# Check if the rows were dropped and print the resulting DataFrame
print(only_college_df['student_type_code'])

Discontinued Rates for All Students except UG-Dual Credit Continuing - HS, Early College Student, UG-Transient.
0     R
1     F
2     F
3     T
4     F
     ..
74    T
75    F
76    F
77    F
78    F
Name: student_type_code, Length: 79, dtype: object

In [12]:

#only_college_df = only_college_df.groupby(['GPA_Group', 'term']).agg({'encrypt_id': 'count', 'discontinued': 'sum'})
#only_college_df['disc_rate'] = (only_college_df['discontinued'] / disc_by_classification['encrypt_id'] * 100).round(2)
#print(only_college_df['encrypt_id'])

#disc_pivot2 = only_college_df.pivot_table(values='disc_rate', index=['Semester','college_et'], columns='GPA_Group').astype('int')
#print("Discontinued rates by College and Semester regarding high school/college groups:")
#disc_pivot2

In [13]:
#diff = disc_pivot.compare(disc_pivot2)
#diff

In [14]:
#codes: 
#B - first time dual credit
#C - continuing dual credit student
#E - ? (banner delivered)